.body {
	/*background-color: #B5F2B4;*/
	/*background-color:#697DDD;*/
	background-color: #b7e3b5;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #080F30;
}

.header {
	position: fixed;
    top: 0; 
	right: 0; 
	left: 0;
	background-color: #4D904C;
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid black;
	box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
}

.header-button {
	border: none;
	outline: none;
	background: none;
	text-shadow: 0.20px 0.50px #000000;
	/*color: #eff6ef;*/
	color: #deedde;
	padding-top:14.5px;
	font-size: 140%;
	font-weight: bold;
}

	.header-button:hover {
		color: #8cc08c
	}

.right-header-button {
	position: relative;
}	

	.right-header-button:after {
	  content:""; 
	  background-color: #366435; 
	  position: absolute; 
	  bottom: 0; 
	  left: 0; 
	  height: 50%; 
	  width: 1px;
	  padding-bottom: 8px;
	}
	
.centerHeaderDiv {
	padding-left: 120px;
}
	
main {
	margin-top: 60px;
}

.centeredColumn {
	display: flex;
	justify-content: center;
}

.threeColumns {
	display: flex;
	justify-content: space-around;
}

	.threeColumns > *{
		width: 24%;
	}

.infoPanel {
	border: black 1px solid;
}

.flexVertical {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.floatingDiv {
  position:absolute;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 40px;
  top: 123px;
  background-color: rgba(0, 144, 0, 0.3);
  border-radius: 25px;
  border: black 1px solid;
  text-shadow: 0.20px 0.50px #000000;
  /*color: #eff6ef;*/
  color: #deedde;
  font-size: 140%;
  font-weight: bold;
}

.styledColumn {
	background-color: #c9eac8;
	border-left: 1px solid black;
	border-right: 1px solid black;
	min-height: 100;
	box-shadow: 0px 0px 100px rgba(100, 100, 100, 0.49);
}

.favorite {
	color: yellow;
}

.cancel {
	color: red;
}

.textInput {
	border:none;
	background-color: #deedde;
	border-radius: 10px;
	padding-right: 7px;
}

.checkbox {
	border:none;
	background-color: #deedde;
	border-radius: 5px;
}

.bodyText {
	text-shadow: 0.20px 0.50px #000000;
	/*color: #eff6ef;*/
	color: #deedde;
	font-weight: bold;
}

.AJAXDiv {
	background-color: rgba(61, 88, 143, 0.33);
	border-radius: 25px;
	display: grid;
	grid-template-columns: 2fr 3fr;
	grid-template-rows: 2fr 3fr;
}

	.AJAXDiv > img {
		grid-area: 1 / 1 / 2 / 2;
	}
	
	.AJAXDiv > h1 {
		grid-area: 1 / 2 / 2 / 3;
	}
	
	.AJAXDiv > ul {
		grid-area: 2 / 1 / 3 / 3;
	}
	
.circleViewport {
	border-radius: 50%;
	border: 1px solid black;
}